.error-404 .heading .tagline p {padding: 35px 130px 35px 150px;}
.error-404 .body {background-color: #F9F9F9;margin: -50px 0 100px;}
.error-404 .body .image {margin-top: -70px;margin-bottom: 40px;z-index: 20;}
.error-404 .body .image svg {}